{
  "extends": "@kalpam/tsconfig/node.json",
  "compilerOptions": { "composite": true, "noEmit": true, "moduleResolution": "Bundler" },
  "include": ["vite.config.ts", "vitest.config.ts", "drizzle.config.ts"]
}
