import path from "node:path";
import { cloudflareTest, readD1Migrations } from "@cloudflare/vitest-pool-workers";
import { defineConfig, defineProject, mergeConfig } from "vitest/config";
import shared from "@kalpam/vitest-config";

export default defineConfig(async () => {
  const migrations = await readD1Migrations(path.join(__dirname, "migrations"));
  return mergeConfig(
    shared,
    defineProject({
      plugins: [
        cloudflareTest({
          wrangler: { configPath: "./wrangler.jsonc" },
          miniflare: { bindings: { TEST_MIGRATIONS: migrations } },
        }),
      ],
      test: {
        setupFiles: ["./test/apply-migrations.ts"],
        include: ["test/**/*.test.ts"],
        coverage: { provider: "istanbul" },
      },
    }),
  );
});
